{% extends 'index.html' %}
{% block sidebar %}{% if article.sidebarimage %}{{ article.sidebarimage }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}

{% block head_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">

    <style>
        a.post-category {
            color: #FFF;
        }
        a:hover.post-category, a:focus.post-category {
            color: #FFF;
        }

        .highlight pre {
            font-size: 75%;
            background-color: transparent;
            word-wrap: normal;
            white-space: pre;
        }
    </style>
{% endblock %}

{% block head_js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".content").fitVids();
        });
    </script>
    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    {% if page and page.latex %}
        {{ page.latex }}
    {% endif %}
    <script>
        /**
         * Randomize array element order in-place.
         * Using Fisher-Yates shuffle algorithm.
         */
        function shuffleArray(array) {
            for (var i = array.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
            return array;
        }

        // random tag color
        $(document).ready(function(){
            var colors = ["#1CB841", "#CA3C3C", "#DF7514", "#42B8DD", "#4D85D1", "#8156A7", "#999"];
            colors = shuffleArray(colors);
            var tags = $("a.post-category");
            var i = 0;
            tags.each(function(){
                $(this).css('background-color', colors[(i++) % colors.length]);
            });
        })
    </script>
{% endblock %}

{% block content %}
    <div class="content pure-u-1 pure-u-md-3-4">
        <section class="post yue">
            <header class="post-header">
                <h1>{{ article.title }}</h1>
                    <p class="post-meta">
                        // under {% for tag in article.tags %}
                            <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                        {% endfor %}
                    </p>
            </header>
            {{ article.content }}
        </section>
        <a href="#" class="go-top">回顶部</a>
        {{ if article.lang == 'en' }}
            {% include 'duoshuo.html' %}
        {{ else }}
            {% include 'disqus.html' %}
        {{ endif }}
        {% include 'footer.html' %}
    </div>
{% endblock  %}
