<footer class="footer">
    <div class="pure-menu pure-menu-horizontal pure-menu-open">
        <ul>
			<li><a href="{{ SITEURL }}/archives.html"><i class="fa fa-list"></i>归档</a></li>
			<li><a href="{{ SITEURL }}/tags.html"><i class="fa fa-tags"></i>标签</a></li>
			<li><a href="{{ SITEURL }}/category/notices.html"><i class="fa fa-bullhorn"></i>公告</a></li>
			<li><a href="{{ SITEURL }}/pages/comments.html"><i class="fa fa-comment"></i>留言</a></li>
        </ul>
    </div>
    <div>
        <p><a href="https://www.upyun.com/index.html"><img src="{{ SITEURL }}/images/upyun_logo.png" /></a></p>
        <p>&copy; {{ AUTHOR }} &ndash;
            Built with <a href="https://github.com/Garnel/pure-single">Pure Theme</a>
            for <a href="http://blog.getpelican.com/">Pelican</a>
        </p>
    </div>
</footer>
